@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');


.formContainer,
.formContainer * {
  font-family: 'Playfair Display', serif;
}

.container {
  min-height: 100vh;
  background: #111827;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  color: #fff;
}


.formContainer,
.formContainer * {
  font-family: 'Playfair Display', serif;
}

.starCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
}

.topLeftPill {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 100px;
  height: auto;
  z-index: 10;
}

.upperContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.heading {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 900;
  /*background: linear-gradient(90deg, 
    #ffb347 0%, #ffe600 10%, #a8ff60 20%, #00ff94 30%, #00cfff 40%, #7928ca 50%,
    #ff0080 60%, #ff8c00 70%, #ffb347 80%, #ffe600 90%, #a8ff60 100%,
    #ffb347 110%, #ffe600 120%, #a8ff60 130%, #00ff94 140%, #00cfff 150%, #7928ca 160%,
    #ff0080 170%, #ff8c00 180%, #ffb347 190%, #ffe600 200%
  );*/
  color: #ffc94b;
  background: none;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  background-clip: unset;
  color: #ffc94b;
  text-shadow: none; 
  animation: none;
  margin-bottom: 1.5rem;
  
  /*text-shadow:
    0 0 2px #fff,
    0 0 4px #ffe600,
    0 0 4px #00ff94;*/
}





@keyframes rainbow-glow {
  0% {background-position: 0% 50%}
  100% {background-position: 100% 50%}
}

.formContainer {
  background: #fff;;
  padding: 35px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.12);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  color: #111827;
  max-width: 400px;
  width: 90%;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formContainer label {
  font-size: 1.1rem;
  font-weight:normal;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.formContainer input {
  border:none;
  border-bottom: 1px solid #000;
  background: transparent;
  color: #111827;
  font-size: 1em;
  padding: 6px 3px;
  margin-bottom:20px;
  width:100%;
  outline: none;
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
}

.formContainer button {
  background-color: #bef0f0;
  color: #111827;
  font-size: 1.1rem;
  font-family:'Playfair Display', serif;
  border: none;
  padding: 10px 24px;
  border-radius: 12px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 50%;
  transition: background 0.1s, color 0.5s;
  display: block;
  align-self: center;
}

.formContainer button:hover {
  background-color: #da7c7c;
  color: #fff;
}

.formContainer p {
  margin-top: 1rem;
  text-align: center;
}


.formContainer a {
  color: #1a0dab;
  text-decoration: underline;
  font-size: 1.1rem;
}

.starCanvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
}


.formContainer h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}